.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#submit {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #7b24df;
  border: solid black;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 10px;
}

#submit:active {
  background-color: #350968;
}

#submit:hover {
  box-shadow: 5px 10px #888888;
}

input[type="text"] {
  border: solid black;
  font-size: 40px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

img {
  width: 35em;
  height: 25em;
  border: 10px solid rgb(11, 1, 1);
  margin: 5px;
}

.try-again {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #7b24df;
  border: solid black;
  border-radius: 10px;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
}
